html {
    scroll-behavior: smooth;
    overflow: scroll !important;
    overflow-x: hidden !important;
}
::-webkit-scrollbar {
    width: 0px !important;  /* Remove scrollbar space */
    background: transparent !important;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000 !important;
}

img {
    width: 100% !important;
}


body {
    font-size: 16px;
    background: #f2f2f2;
}

.appContainer {
    position: fixed;
    width: 100%;
}

body, a, p, div, span { 
    font-family: 'Roboto', sans-serif !important;
}

textarea {
    border-radius: 2px !important;
}

header {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.postedAt {
    font-size: 14px;
}

.divider {
    margin: 1em;
    
}

.meta {
    display: flex;
    justify-content: space-between;
    width: 100%
}


.description {
    padding: 1em .5em 0 .5em;
    border-radius: 2px;
}


header h2 {
    margin: 0;
    color: #666;
}

.avatar {
    display: block
}

.ui.inverted.menu {
    margin-bottom: 2.6em !important;
}

header .avatar img {
    width: 80px !important;
    height: 80px !important;
    margin-right: 1em;
}

.mb_1 {
    margin-bottom: 1em !important;
}

.mr_1 {
    margin-right: 1em !important;
}

.p1 {
    padding: 0 1em 0 1em;
}
.mainLeft, .mainRight {
    padding-top: 0 !important;
    height: calc(100vh - 3.1em);
    overflow-y: scroll
}

.toplessBorder {
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom:  1px solid rgba(0,0,0,.05);
    border-left:  1px solid rgba(0,0,0,.05);
}

.ui.basic.button, .ui.basic.buttons .button {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    padding: .7rem 2em;
    border-radius: 2px;
    border: 1px solid #b3b3b3 !important;
    color: #b3b3b3 !important;
    box-shadow: none !important
}

.ui.basic.button:hover, .ui.basic.buttons:hover .button:hover {
    color: #1DA1F2 !important;
    border: 1px solid #1DA1F2 !important;
} 

.ui.dropdown .menu {
    right: 0 !important;
    left: auto !important;
}

.centerColumn {
    margin:0 auto;
}

.oneComment {
    padding: 1em !important;
    border-radius: 2px !important;
    display: block;
    border: 1px solid #eee !important;
}

.comment {
    margin-bottom: .5em !important;
}

.ui.menu {
    border: none !important;
}

.ui.menu:first-child {
    height: 3em;
    margin-bottom: 0;
    border-radius: 0;
}

.cardContainer {
    margin: 0 1em 1em 1em
}

.card {
    border-radius: 2px !important;
    box-shadow: 0 1px 3px #c6c6c6, 0 1px 2px #c6c6c6 !important;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1.5em !important;
    transition: 150ms ease-in-out !important;
    border: none !important;
}

.card:hover { 
    box-shadow: 0 2px 6px #c6c6c6, 0 2px 4px #c6c6c6 !important;
}

.ui.card>.content, .ui.cards>.card>.content {
    border-top: none !important;
}


.ui.dropdown .menu {
    border-radius: 2px !important; 
    box-shadow: 0 1px 3px #c6c6c6, 0 1px 2px #c6c6c6 !important;
}

.ui.card, .ui.cards>.card {
    width: 100%;
}

.socialBar {
    padding: .5em !important;
    display: flex;
    border: none !important;
    align-items: center
}

.ui.card > .extra, .ui.cards > .card > .extra {
    border: none !important;
}


.socialHandle i {
    margin-right: .5em;
}

.socialBar span {
    margin-right: 0.7em;
    cursor: pointer;
}

.socialHandle:last-child {
    margin-right: 0;
}

.heart, .likeCount {
    color: #E02760
}

.colorBlue {
    color: #1DA1F2
}
.colorOrange {
    color: #27AD4C
}

.colorWhite{
    color: #fff;
}

.colorRed {
    color: #E02760;
}

.colorGold {
    color: #FFBF00;
}

.colorLightGrey {
    color: #c3c3c3
}

@media only screen and (max-width: 100000px) {
    .ui.main.menu {
      display: none !important;
    }
    .main.menu .item,
    .main.menu .menu {
      display: none;
    }
    .secondary.menu {
      display: block!important;
    }
  }

  .grow {
      flex-grow: 1;
  }